<h1><%= @user.username %></h1>

<ul>
  <% @user.received_secrets.each do |secret| %>
    <li><%= secret.title %></li>
  <% end %>
</ul>

<ul>
<% @users.each do |user| %>
	<li>
		<%= user.username %>
		<div class="friend_buttons <%= is_friends_with?(user) ? "friended" : "unfriended" %>">
			<%= button_to(
	      "Add Friend",
	      friendship_url(user),
	      :method => :post,
				:remote => :true,
				:form => { :class => "add_friend_form"}) %>

			<%= button_to(
	      "Remove Friend",
	      friendship_url(user),
	      :method => :delete,
				:remote => :true,
				:form => { :class => "remove_friend_form" }) %>
		</div>
	</li>
<% end %>

<script>

	// add friend
	$(".add_friend_form").on('ajax:before', function (event, data) {
		var $submitButton = $(event.target).find("input[type='submit']");
		$submitButton.val("Friending ...");
		$submitButton.attr('disabled', 'disabled')
	});

	$(".add_friend_form").on("ajax:success", function (event, data) {
		var $submitButton = $(event.target).find("input[type='submit']");
		$submitButton.val("Add Friend");
		$submitButton.removeAttr('disabled');

		// swap friended class
		$(event.target).closest(".friend_buttons").toggleClass("friended").toggleClass("unfriended");
	});


	// remove friend
	$(".remove_friend_form").on('ajax:before', function (event, data) {
		var $submitButton = $(event.target).find("input[type='submit']");
		$submitButton.val("Unfriending ...");
		$submitButton.attr('disabled', 'disabled')
	});

	$(".remove_friend_form").on("ajax:success", function (event, data) {

		var $submitButton = $(event.target).find("input[type='submit']");
		$submitButton.val("Remove Friend");
		$submitButton.removeAttr('disabled');

		// swap friended class
		$(event.target).closest(".friend_buttons").toggleClass("friended").toggleClass("unfriended");
	});


</script>
