<script type="application/json" id="tags_json" >
  <%= Tag.all.to_json.html_safe %>
</script>

<%= File.read("./app/views/secrets/_tag_select.html").html_safe %>

<%= form_for(
			@secret,
			:remote => :true,
			:html => { :class => "new_secret_form" }) do |f| %>


 <div class="notice"></div>

 <p>
	 <%= f.label :title %>
	 <%= f.text_field :title %>
 </p>

 <a href="#" id="add_tag_handler">Add another tag</a>
 <div id="tag_selects"></div>

 <p>
	 <label for="secret_recipient">Recipient:</label>
	 <select name="secret[recipient_id]" id="secret_recipient">
		 <% @users.each do |user| %>
		 	 <option value="<%= user.id %>"><%= user.username %></option>
		 <% end %>
	 </select>

	 <p>
		 <%= f.submit %>
	 </p>

<% end %>



<script type="text/javascript">
	//add another tag selection
	$("#add_tag_handler").on('click', function (event) {

		// var tagObjects = JSON.parse($("#tags_json").html());
		// console.log(tagObjects);

		var template_code = $("#tag_select").html();
		console.log(template_code);
		var template_fn = _.template(template_code);
		var rendered_content = template_fn();
		$("#tag_selects").append(rendered_content);
	})

	// add secret
	$(".new_secret_form").on('ajax:before', function (event, data) {
		var $submitButton = $(event.target).find("input[type='submit']");
		$submitButton.val("Adding Secret ...");
	});

	$(".new_secret_form").on("ajax:success", function (event, data) {
		// debugger;
		$(event.target).find("#secret_title").val("");

		var $submitButton = $(event.target).find("input[type='submit']");
		$submitButton.val("Add Secret");

		$(".new_secret_form .notice").html("Secret posted!")
	});
</script>
