<h2>New Secret</h2>

<%= form_for @secret do |f| %>
 <p>
	 <%= f.label :title %>
	 <%= f.text_field :title %>
 </p>

 <p>
	 <label for="secret_recipient">Recipient:</label>
	 <select name="secret[recipient_id]" id="secret_recipient">
		 <% @users.each do |user| %>
		 	 <option value="<%= user.id %>"><%= user.username %></option>
		 <% end %>
	 </select>

<% end %>